/* Importation des polices*/
/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Style généraux*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;

}

h1,
h2,
h3 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

main, footer {
    max-width: calc(910px - 5%);
    margin: 0 auto;
}

header nav {
    text-align: right;
    font-size: 1.125rem;
}

header nav a.actif, header nav a:hover {
    color: #2ec4b6;
}

a {
    color: #e71d36;
    text-decoration: none;

}


.nom {
    color : #2ec4b6;
    font-size: 3rem;

}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

a:hover {
    color: #011627;
}

/* Entête page */

header {
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

header .logo {
    text-align: center;
    margin: 0;
}

header .nom {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    color: #2ec4b6;
    font-size: 1.75rem;
    margin: 15px 0;
    line-height: 0.8;
}

header .metier {
    color: #e71d36;
    margin-top: -25px;
    font-weight: bold;
}


/* Menu navigation */

header nav {
    text-align: center;
}

header nav ul {
    /* supprimer décalage du centre à cause de la marge des puces */
    padding: 0;
    /* supprimer puce */
    list-style-type: none;
}

header nav ul li {
    /* Mettre sur la même ligne */
    display: inline-block;
}

/* Navigation menu */
header nav ul li a {
    color: #fdfffc;
    /* Plus gras */
    font-weight: bold;
    /* Espacer les élèments du menu */
    padding: 15px 10px;
}

/* Cacher menu accueil -- Sélecteur d'attribut */
header nav ul li a[href="index.html"] {
    display: none;
}